.footer{
    width: 300vh;
    height: 300px;
    display: flex;
    background-color: #282c34;
    color: azure; 
    padding-top: 45px;

   .btn-footer{
    padding-left: 15px;
   }
   .realisation{
    padding-left: 228px;
    size: 18px;
  }
}
 