.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Header #logo{
  margin-right: 30px;
}

.Footer{
  width: 300vh;
  height: 300px;
  display: flex;
  background-color: #282c34;
  color: azure; 
  padding-top: 45px;

}
.btn-Footer{
  padding-left: 15px;

}
.global_Corp{
  display: flex;
}
.Ru{
  display: flex;
  justify-content: center;
}
.realisation{
  padding-left: 228px;
  size: 18px;
}


section{
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}
.cardss{
  background-color: rgba(240, 234, 234, 0.42);
  box-shadow: 0 0 0.9375 rgba(0, 0, 0, 0.219);
  width: 850px;
  border-radius: 4px;

  display: flex;  
}
.card_hero{
  flex: 0 0 50%;
  position: relative;
}
.card_img{ display: block;
width: 100%;}

.card_content{
  flex: 1;
  padding: 35px 35px 25px 35px;
  margin-top: 30px;

  display: flex;
  flex-direction: column;
}
.card_info{
  display: flex;
  flex-direction: column;
}
.card_price{
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 8px;
}
.card_address{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
}
.card_details{
  font-size: 12.5px;
  font-weight: 400;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
